REPORT_GAS="true"
FUNDING_ACCOUNT_PRIVATE_KEY=
DEPLOYER_CONTRACT_DEPLOYER_PRIVATE_KEY=
DEPLOYER_CONTRACT_ADDRESS_DEV=
DEPLOYER_CONTRACT_ADDRESS_PROD=
ENTRY_POINT_ADDRESS="0x0576a174D229E3cFA37253523E645A78A0C91B57"

#mainnets
ETH_MAINNET_URL=
POLYGON_URL=
AVAX_MAINNET_URL=
ARBITRUM_MAINNET_URL=
OPTIMISM_MAINNET_URL=
BSC_MAINNET_URL=
ZKEVM_MAINNET_URL=

#testnets
GOERLI_URL=
POLYGON_MUMBAI_URL=
AVAX_TESTNET_URL=
ARBITRUM_TESTNET_URL=
OPTIMISM_TESTNET_URL=
BSC_TESTNET_URL=
ZKEVM_TESTNET_URL=

#blockexplorers apikeys
ETHERSCAN_API_KEY=
POLYGONSCAN_API_KEY=
BSCSCAN_API_KEY=
OPTIMISTIC_API_KEY=
AVALANCHE_API_KEY=
ARBITRUM_API_KEY=