[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "biconomy-paymasters"]
	path = biconomy-paymasters
	url = https://github.com/bcnmy/biconomy-paymasters.git
