node_modules
.env
.secret
.idea
coverage
coverage.json
types/
dist/

#Hardhat files
cache
artifacts
artifacts-filtered
typechain
typechain-types


#ignore .DS_Store recursively
.DS_Store

deployments/localhost

typings
forge-cache
out
