node_modules
.env
.secret
.idea
coverage
coverage.json
typechain
deployed


#Hardhat files
cache
artifacts

#ignore .DS_Store recursively
.DS_Store

deployments/localhost
forge-cache/
lib/
out/
typechain-types/